#game-screen {
  width: 1400px;
  height: 600px;
  background: black;
  padding-bottom: 10px;
  padding-right: 10px

}

#player {
  width: 15px;
  height: 30px;
  background: white;
  position: absolute;
}

.bullet {
  background: blue;
  position: absolute;
}

.enemy {
  position: absolute;


}
.image{
  width: 20px ;
  height: 30px;

}
#playerImage{
  width: 15;
  height: 30;
  
}
