#game-screen {
  width: 1400px;
  height: 600px;
  background: black;
}

#player {
  width: 15px;
  height: 30px;
  background: white;
  position: absolute;
}

.bullet {
  background: blue;
  position: absolute;
}

.enemy {
  background: red;
  position: absolute;
}
