#game-screen {
  width: 1400px;
  height: 600px;
  background: gray;
  padding-bottom: 10px;
  padding-right: 10px

}

#player {
  
  background: url(/Users/shirleyzhang/Development/code/survive/frontend/assets/images/VictimsAndVillagers.png) -2px -144px ;
  position: absolute;
}

.bullet {
  background: blue;
  position: absolute;
}

.enemy {
  position: absolute;


}
.image{
  width: 20px ;
  height: 30px;

}
#player-image{
  width: 15;
  height: 30;

}
